!!! 5
html
  head
    link(rel='stylesheet', type='text/css', href='style.css')
    meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
    title= sitetitle
  body
    .box
      section#head
        h1#title
          a#titlea(href="#{siteurl}")= sitetitle
      section#content!= content.body
      section#foot
        p!= content.footer
      //script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.2.min.js')
