!!! 5
html
  head
    for sheet in static.css
      link(rel='stylesheet', type='text/css', href="#{sheet}")
    meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
    title= sitetitle
  body
    .box
      section#head
        h1#title
          a#titlea(href="#{siteurl}")= sitetitle
      section#content!= content.body
      if static.js
        for js in static.js
          script(type='text/javascript', src="#{js}")
